.register-header {
  padding-top: 50px;
}

.bill-icon {
  width: 100px;
}

.register-title {
  font-family: Georgia, serif;
  font-size: 40px;
}

.register-body {
  padding-top: 40px;
}

.register-button {
  margin-top:  30px;
  margin-left: 30px;
  margin-right: 30px;
}

.register-password-forgotten {
  color: white;
  text-decoration: none;
}

.register-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.register-sign-up {
  text-decoration: none;
  color: #FFAF40;
}

