.register-header {
  padding-top: 50px;
}

.register-body {
  margin: auto;
  padding-top: 40px;
  max-width: 600px;
}

.register-title {
  font-family: Georgia, serif;
  font-size: 40px;
}

.register-input {
  --padding-start: 0px;
}

.register-button {
  margin-top:  30px;
  margin-left: 30px;
  margin-right: 30px;
  --background: #FFAF40;
}

.register-password-forgotten {
  color: white;
  text-decoration: none;
}

.register-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.register-sign-up {
  text-decoration: none;
  color: #FFAF40;
}

.bill-icon {
  width: 100px;
}

.medium-size {
  font-size: 25px;
  color: #FFAF40;
}

ion-item {
  border-radius: 5px;
}
