<ion-content>
  <div class="no-ion-header-buffer"></div>
  <div class="register-header ion-padding">
    <div class="ion-text-center">
      <img
        class="bill-icon"
        alt="bill-splitter icon"
        src="assets/icon/bill-icon.png">
    </div>
    <h1 class="ion-text-center register-title">Bill Splitter</h1>
  </div>

  <div class="register-body ion-padding">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="person-outline"></ion-icon>
        <ion-input formControlName="username" class="register-input" type="text" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" class="register-input" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" class="register-input" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="lock-open-outline"></ion-icon>
        <ion-input formControlName="confirmPassword" class="register-input" type="password"
                   placeholder="Repeat Password"></ion-input>
      </ion-item>
      <ion-button color="bill-splitter" type="submit" shape="round" class="register-button ion-margin" expand="block">
        Register
      </ion-button>
    </form>
  </div>

  <div class="register-footer ion-padding-bottom">
    <p class="ion-text-center">
      Already Registered?
      <a class="register-sign-up" routerLink="/login">Sign In</a>
    </p>
  </div>
</ion-content>
