<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-img class="avatar-size"
               alt="user avatar"
               [src]="avatarUrl"></ion-img>
    </ion-row>
  </ion-grid>

  <div class="padding-top avatar-list">
    <div class="avatar-list-item" *ngFor="let avatar of availableAvatars">
      <ion-img [src]="avatar"></ion-img>
    </div>
  </div>
</ion-content>
