<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatars</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button color="bill-splitter" (click)="saveSelectedAvatar()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-img class="avatar-size"
               alt="user avatar"
               [src]="selectedAvatar.avatarUrl"></ion-img>
    </ion-row>
  </ion-grid>

  <div class="ion-padding avatar-list">
    <div class="avatar-list-item" *ngFor="let selectable of availableAvatars">
      <ion-img class="selectable-avatar" [src]="selectable.avatarUrl" (click)="changeAvatar(selectable)"></ion-img>
    </div>
  </div>
</ion-content>
