<ion-content class="ion-float-sm-end">
  <div class="no-ion-header-buffer"></div>
  <div class="login-header ion-padding">
    <div class="ion-text-center">
      <img
        class="bill-icon"
        alt="bill-splitter icon"
        src="../../../assets/bill-icon.png">
    </div>
    <h1 class="ion-text-center login-title">Bill Splitter</h1>
  </div>

  <div class="login-body ion-padding">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="person-outline"></ion-icon>
        <ion-input formControlName="username" class="login-input" type="text" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-icon class="input-icon" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" class="login-input" type="password" placeholder="Password"></ion-input>
      </ion-item>

      <ion-text color="error" class="ion-padding"
                *ngIf="isSubmitted && isLoginSuccessful && errorControl.username.errors?.required && !errorControl.password.errors?.required">
        Username is required.
      </ion-text>
      <ion-text color="error" class="ion-padding"
                *ngIf="isSubmitted && isLoginSuccessful && errorControl.password.errors?.required && !errorControl.username.errors?.required">
        Password is required.
      </ion-text>
      <ion-text color="danger" class="ion-padding"
                *ngIf="isSubmitted && isLoginSuccessful && errorControl.password.errors?.required && errorControl.username.errors?.required">
        Username & Password are required.
      </ion-text>
      <ion-text color="error" class="ion-padding" *ngIf="!isLoginSuccessful">
        Username or Password is incorrect.
      </ion-text>

      <ion-button type="submit" shape="round" color="bill-splitter" class="login-button ion-margin" expand="block">
        Login
      </ion-button>
      <div class="ion-text-center">
        <p routerLink="#" class="ion-text-center">
          Forgot Password?
          <a class="login-link">Reset</a>
        </p>
      </div>
    </form>
  </div>

  <div class="login-footer ion-padding-bottom">
    <p routerLink="/register" class="ion-text-center">
      New User?
      <a class="login-link">Sign Up</a>
    </p>
  </div>
</ion-content>
