<ion-content>
  <div class="login-header ion-padding">
    <ion-img
      class="bill-icon"
      src="assets/icon/bill-icon.png"></ion-img>
    <h1 class="ion-text-center login-title">Bill Splitter</h1>
  </div>

  <div class="login-body ion-padding">
    <ion-item class="ion-margin">
      <ion-icon class="medium-size" slot="start" name="person-outline"></ion-icon>
      <ion-input class="login-input" pattern="text" type="text" placeholder="Username" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-icon class="medium-size" slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input class="login-input" pattern="password" type="password" placeholder="Password" required></ion-input>
    </ion-item>
    <ion-button shape="round" class="login-button ion-margin" expand="block">Login</ion-button>
    <div class="ion-text-center">
      <p class="ion-text-center">
        Forgot Password?
        <a class="login-link" routerLink="#">Reset</a>
      </p>
    </div>
  </div>

  <div class="login-footer ion-padding-bottom">
    <p class="ion-text-center">
      New User?
      <a class="login-link" routerLink="/register">Sign Up</a>
    </p>
  </div>
</ion-content>
