.padding-top {
  padding-top: 30px;
}

.avatar-size {
  width: 100px;
}

.change-avatar-text {
  font-size: 18px;
}

.user-information-title {
  font-size: 25px;
  color: white;
}

.transparent {
  background-color: transparent;
}

.transparent-item {
  --background: transparent;
}

