<ion-content>
  <ion-grid class="padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-img class="avatar-size"
               alt="user avatar"
               [src]="user.avatar"></ion-img>
    </ion-row>
    <ion-row class="ion-padding-top ion-justify-content-center" (click)="changeAvatar()">
      <ion-col class="ion-align-self-center ion-text-end" size="5">
        <ion-text class="medium-text">Change Avatar</ion-text>
      </ion-col>
      <ion-col class="ion-align-self-center ion-text-start" size="2">
        <ion-icon class="medium-icon" name="create-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="small-margin-top ion-padding">
    <ion-title class="user-information-title">User Information</ion-title>
    <ion-item class="ion-margin">
      <ion-icon class="input-icon" slot="start" name="person-outline"></ion-icon>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-icon class="input-icon" slot="start" name="mail-outline"></ion-icon>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-icon class="input-icon" slot="start" name="call-outline"></ion-icon>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-icon class="input-icon" slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>
