.padding-top {
  padding-top: 50px;
}

.user-information-title {
  font-size: 25px;
}

.small-margin-top {
  margin-top: 30px;
}

.avatar-size {
  width: 100px;
}

.input-icon {
  font-size: 25px;
  color: #FFAF40;
}

.medium-icon {
  font-size: 21px;
}

.medium-text {
  font-size: 18px;
}

ion-item {
  border-radius: 5px;
}
