<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-img class="avatar-size"
               alt="user avatar"
               [src]="avatarUrl"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top" (click)="changeAvatar()">
      <ion-text color="bill-splitter" class="change-avatar-text">Change Avatar</ion-text>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
      <ion-list class="transparent">
        <ion-item-divider>
          <ion-label class="user-information-title">User Information</ion-label>
        </ion-item-divider>
        <ion-item class="transparent-item ion-margin-top">
          <ion-icon class="input-icon" slot="start" name="person-outline"></ion-icon>
          <ion-input formControlName="username" placeholder="Username" type="text"></ion-input>
        </ion-item>
        <ion-item class="transparent-item ion-margin-top">
          <ion-icon class="input-icon" slot="start" name="mail-outline"></ion-icon>
          <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item class="transparent-item ion-margin-top">
          <ion-icon class="input-icon" slot="start" name="call-outline"></ion-icon>
          <ion-input formControlName="phone" placeholder="Phone Number" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="bill-splitter" fill="outline" shape="round" expand="block" (click)="loadUserInformation()">Cancel</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="bill-splitter" type="submit" shape="round" expand="block">Save
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
