.padding-top {
  padding-top: 30px;
}

.avatar-size {
  width: 128px;
  margin: 0 8px;
}

.avatar {
  position: relative;
}

.edit-avatar-container {
  position: absolute;
  background-color: var(--ion-toolbar-background);
  top: 65%;
  right: 0;
  border: 4px solid var(--background);
  border-radius: 50%;
}

.edit-avatar-icon {
  font-size: 20px;
  padding: 6px 8px;
}

.user-information-title {
  font-size: 25px;
  color: white;
}

.transparent {
  background-color: transparent;
}

.transparent-item {
  --background: transparent;
}

