.padding-top {
  padding-top: 20px;
}

.avatar-size {
  width: 128px;
  margin: 0 8px;
}

.avatar-list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.avatar-list-item {
  flex: 1 0 21%;
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

.selectable-avatar {
  width: 96px;
}
